:root{
    /* Colors for project */
    --color-background: #f8f8f8; /* Blanco Ahumado */
    --color-background-secondary: #e0d092; /* Beige Claro */
 
    --bugambilla: #d5006d;      /* Puntos focales y llamados a acción */
    --color-accent-red: #c82333; /* Rojo Vino */

    --color-text-primary: #464646; /* Gris Oscuro */
    --color-accent-gold: #b8860b; /* Dorado */

    /* Typography */
    --font-family-headings: 'Montserrat', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    /* Font weights */
    --font-weight-headings: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3 {
    font-family: var(--font-family-headings);
}
p {
	font-family:var(--font-family-body);
}
header {
    background-color: var(--color-background);
    justify-items: center;
    color: var(--color-text-primary);
    padding: 1rem;
}
main   {
    display: grid;
    gap: 10px;
    padding: 10px 15px;
}
section {
    background-color: var(--color-background-secondary);
    padding: 10px;
    border: 1px solid var(--color-accent-gold);
}
section h2 {
    text-align: center;
}
.wireframes {
    justify-items: center;
}

footer {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    padding: 1rem;
    justify-items: center;
}