:root{
    /* Colors for project */
    --color-background: #f8f8f8; /* Blanco Ahumado */
    --color-background-secondary: #e0d092; /* Beige Claro */
 
    --bugambilla: #d5006d;      /* Puntos focales y llamados a acción */
    --color-accent-red: #c82333; /* Rojo Vino */

    --color-text-primary: #464646; /* Gris Oscuro */
    --color-accent-gold: #b8860b; /* Dorado */

    /* Typography */
    --font-family-headings: 'Montserrat', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    /* Font weights */
    --font-weight-headings: 700;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

/* mobile **************************/
#menu {
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	color:  var(--color-text-primary);
}
#menu::before {
	content: "≡";
}
.navigation li {
	display: none;
}
.show li {
	display: block;
    background-color: var(--color-background);
}
#menu.show::before {
	content: "X";
}
header,footer {
	background-color: var(--color-background);
    color: var(--color-text-primary);   
}

header, main,footer {
    gap: 10px;
    padding: 10px;
    text-align: center;
}
main {
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
}
nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: var(--color-text-primary);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover, navigation a:active {
	text-decoration:none;
	background-color: #eee;
	color: #000;
}

section {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); 
    gap: 20px;
    place-items: center;
}
figure {
    background-color: var(--color-background);
    }
img { width: 100%; height: auto; margin: .5rem;}
/* Larger Views ******************************/
@media (min-width: 540px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    #menu {
		display: none;
	}
	.hero img {
		width: 100%;
		height: auto;
		border-bottom: 150px;
		}
}
