body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  header {
    background: rgb(92, 89, 89);
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: rgb(147, 152, 154);
    grid-column: 1 / 2;
  }
  
  main {
    background: rgb(134, 127, 124);
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: rgb(136, 136, 118);
    grid-column: 3 / 4;
  }
  
  footer {
    background: rgb(22, 21, 21);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  