* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #ccc;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(0 0 0 / 0.1);
}
header,
main {
	margin: 0 0;
}
main {
    display: flex;
    background-color:whitesmoke;
    justify-content: space-between;
    flex-direction: row;
    height: 500px;
}

h1 {
	font-size: 2rem;
}

nav {
    display: flex;
	background-color: #36454f;
    width: 100%;
	margin: 0;
    justify-content:space-around ;
}
nav ul {
	list-style-type: none;
    width: 100%;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}