/* Larger Views ******************************/
@media (min-width: 540px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    #menu {
		display: none;
	}
    .temple-card {
        background-color: rgb(240, 236, 236);
        border: 1px solid rgb(228, 227, 227);
        align-content:space-evenly;
    }
    .temple-card img {
        justify-content: center;
        padding: 5px;
    }
}