:root{
    --rojo-granate: #A50000;    /* Color principal cabecera */
    --amarillo-rampante: #FFC300; /* Acentos y detalles */
    --celeste-cielo: #f7f5d7;   /* Fondos y elementos secundarios */
    --bugambilla: #D5006D;      /* Puntos focales y llamados a acción */
    --white-text:white;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header, main, footer {
    display: grid;
    width: 500px;
    margin: 0 auto;
}
header {
    background-color: var(--rojo-granate);
    justify-items: center;
    color: var(--white-text);
    padding: 1rem;
}
main {
    background-color: var(--amarillo-rampante);
    color: rgb(36, 36, 36);
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    background-color: var(--rojo-granate);
    color: var(--celeste-cielo);
    padding: 1rem;
    justify-items: center;

}

