:root{
    --rojo-granate: #A50000;    /* Color principal cabecera */
    --amarillo-rampante: #FFC300; /* Acentos y detalles */
    --celeste-cielo: #00A3E0;   /* Fondos y elementos secundarios */
    --bugambilla: #D5006D;      /* Puntos focales y llamados a acción */
    --white-text:white;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header, main, footer {
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid #45109c;
}
header {
    background-color: var(--rojo-granate);
    justify-items: center;
    color: var(--white-text);
}
main {
    background-color: var(--amarillo-rampante);
    font-family: 'Roboto', sans-serif;
    gap:10px;
   /* width: 500px;*/
}

footer {
    justify-items: center;
}
.hero img {
    width: 100%;
    height: auto;
    }
.wheateremoji::after{
    content: "🌤";
}
@media (min-width: 800px) {
	header, main, footer{
        width: auto;
    }
}