* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

/* mobile **************************/
header,footer {
	background-color: #6a1093;
	display: grid;
    color: #fff;
    
}

header, main,footer {
    gap: 10px;
    padding: 10px;
    text-align: center;
}
main {
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
}
nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration:none;
	background-color: #eee;
	color: #000;
}

section {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); 
    gap: 20px;
    place-items: center;
}
figure {
    background-color:#fff;
    }
img { width: 100%; height: auto; margin: .5rem;}
/* Larger Views ******************************/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}
